@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');
:root {
  --background-color: #efeeea;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Cabin', sans-serif;
}

nav,
section {
  margin: 0 auto;
  max-width: 1200px;
  background-color: var(--background-color);
}

header,
.section-container {
  background-color: var(--background-color);
}

.white-bg {
  background-color: #fff;
}

ul {
  list-style-type: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin: 0;
}

.main-nav-item {
  display: flex;
  align-items: center;
}

button.get-started {
  border: 0;
  background: #000;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.logo {
  font-weight: bold;
}

.main-nav a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.main-nav-item * {
  margin: 10px;
}

.hero {
  height: 70vh;
  background-color: #efefefef;
}

.hero {
  display: flex;
}

.hero > div {
  flex: 1;
}

.hero ul {
  margin: 0;
  padding: 0;
}

.hero ul li {
  display: flex;
  align-items: center;
}

.hero ul li img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.hero-image-container {
  height: 80%;
  padding: 30px;
}

input[type='email'] {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px #aaa solid;
}

section {
  padding: 30px 30px 0 30px;
  border-radius: 5px;
}

section h2 {
  margin-top: 0;
}

.hero-image {
  background-image: url('./Assets/hero-image-desktop.png');
  border-radius: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.logos-container {
  display: flex;
  margin: 30px auto;
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.logo-container img {
  width: 100%;
}

.escrow {
  height: 30vh;
  display: flex;
}

.escrow > div {
  flex: 1;
}

.escrow-image-container {
  height: 100%;
}

.escrow-image {
  height: 100%;
  background-image: url('./Assets/phone-mockup-desktop.png');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.amazing-content {
  display: flex;
  height: 40vh;
}

.create-content-img {
  height: 100%;
  background-image: url('./Assets/Text Editor.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.amazing-content > div {
  flex: 1;
}

.footer-wrapper {
  background-color: #000;
}

footer {
  display: flex;
  background-color: #000;
  color: #4f4f4f;
  padding: 0 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.footer-title {
  color: #fff;
  margin-bottom: 0;
}

.footer-links li a {
  text-decoration: none;
}

.footer-links li {
  margin: 7px 0;
}

.footer-links li a:visited {
  color: #4f4f4f;
}

footer * {
  flex: 1;
}

footer div:first-of-type {
  flex: 2;
}

.footer-links {
  padding: 0;
  margin: 0;
}

.ham-menu {
  display: none;
}

/* Tablet breakpoint */
@media (max-width: 1000px) {
  .hero {
    padding-top: 0;
    flex-direction: column;
    height: auto;
    padding-bottom: 40px;
  }

  .hero-image-container {
    order: -1;
    padding: 0;
  }

  .hero-image {
    height: 60vh;
    background-size: 100%;
    background-position: top left;
  }

  .center-links {
    margin-left: auto;
  }

  .escrow {
    flex-direction: column;
    height: auto;
  }

  .escrow-image {
    height: 350px;
    background-image: url('./Assets/Phone Mockup (Tablet).png');
    background-size: contain;
    background-position: bottom center;
  }

  .amazing-content {
    flex-direction: column;
    height: auto;
  }

  .amazing-content div:first-of-type {
    order: 2;
  }

  .create-content-img {
    background-size: contain;
    background-position: center;
    height: 35vh;
  }

  footer {
    flex-wrap: wrap;
  }

  footer div {
    flex-grow: 0;
    padding: 0 10px;
  }

  footer div:first-of-type {
    flex: 50%;
  }

  footer div:nth-of-type(2) {
    flex: 25%;
  }

  footer div:nth-of-type(3) {
    flex: 25%;
  }
}

@media (max-width: 560px) {
  .hero-image {
    height: 50vh;
  }

  .links {
    display: none;
  }

  .ham-menu {
    display: inline-block;
    margin-right: 20px;
  }

  .logos-container > div:nth-child(n + 4) {
    display: none;
  }

  footer div {
    flex: 50%;
  }

  footer div:first-of-type {
    flex: 100%;
  }

  form button.get-started,
  input[type='email'] {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
  }
}
